$body-bg:                   #2c3e50;
$navbar-default-bg:         #bdc3c7;
$navbar-default-link-color: #34495e;
$brand-primary:             #f39c12;
$jumbotron-bg:              #ecf0f1;

@import 'bootstrap';